<div class="choose w-100 h-100 d-flex position-absolute ">
    <div class="logo">
        <img src="../../assets/img/logo.png" alt="">
    </div>
    <div class="container ">
        <div class="heading w-100 text-center">
            <h2>choose Option</h2>
        </div>

        <div class="row d-flex justify-content-between align-items-center ">
            <!-- parent-scetion -->
            <div class="col-md-5 col-sm-4  parent" routerLink="/register" >
                <div class="img-box">
                    <img src="../../assets/img/parent.png" alt="">
                    <div class="caption text-center">
                       <p> Paretnt</p>
                    </div>
                </div>
              
            </div>
            <!-- chield-scetion -->
            <div class="col-md-5 co-sm-4 chield" routerLink="/chieldRegisteration">
                <div class="img-box">
                    <img src="../../assets/img/chield.png" alt="">
                    <div class="caption text-center">
                       <p> Child</p>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
