<div class="forgetPass w-100 vh-100">
    <div class="row gx-4 w-100 ps-5 d-flex justify-content-between">
        
        <!-- left-side -->
            <div class="col-md-6  left-side ">
                <div *ngIf="err" class="error w-100 m-auto text-center">
                    <p class=" alert alert-danger d-flex align-items-center justify-content-center">{{errMessage}}</p>
                </div>
                <div class="forgetPass-heading d-flex justify-content-between">
                    <div class="text">
                        <h2>Forgot<br>
                            password ?</h2>
                    <p>Dont worry it  happens please enter the address associated with your account</p>
                    </div>
                    <!-- page logo -->
                    <div class="logo">
                        <img src="../../assets/img/logo.png" alt="">
                     </div>
                 </div>
                 
                <form [formGroup]="emilForm" (ngSubmit)="sendEmail(emilForm)"  action="">
                    <!-- userMail lables -->
                    <label for="email">E-mail</label>
                    <input type="email" formControlName="email" name="email" id="email" class="form-control mt-1 mb-2">
                        <!-- errors div -->
                        <div *ngIf="emilForm.get('email')?.errors&&emilForm.get('email')?.touched">
                            <p *ngIf="emilForm.get('email')?.getError('required')" class=" alert alert-danger pt-1">
                                email Number is requierd
                            </p>
                            <p *ngIf="emilForm.get('email')?.getError('email')" class=" alert alert-danger pt-1">
                                please Enter valid E-mail
                            </p>
                                    </div>
                <!-- submit btn -->
                    <button [disabled]="emilForm.invalid" class="btn btn-primary px-5 w-50 mx-auto mt-3 py-2" type="submit">
                     
                       <span *ngIf="!isLoading">submit</span> 
                       <span *ngIf="isLoading" class=""><i class="fas fa-spinner fa-spin"></i></span>
                    </button>
                
                </form>
            </div>
            <!-- right-side(page-img) -->
            <div class="col-md-5 right-side  p-0">
                <div class="img-box">
                    <img src="../../assets/img/registration.png " class="w-100 vh-100" alt="">
                </div>
            </div>
    </div>
</div>